<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <form action="">
        <a href="signins"><h1> Already a user(Student), Login </h1></a><br>
        <a href="signups"><h1> New user(Student), Signup </h1></a>
        <a href="signinm"><h1> Already a user(Master), Login </h1></a><br>
        <a href="signupm"><h1> New user(Master), Signup </h1></a>
    </form>
</body>
</html>