<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Questions</th>
        </tr>
        {% for i, q in questions.items %}
            <tr>
                <td><a href={{i}}/{{q}}>{{q}}</a></td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit">
</body>
</html>